.btn--warning {
    --mdb-btn-bg: #FF6600;
    --mdb-btn-color: #fff;
    --mdb-btn-box-shadow: 0 4px 9px -4px #FF6600;
    --mdb-btn-hover-bg: #d9991a;
    --mdb-btn-hover-color: #fff;
    --mdb-btn-focus-bg: #d9991a;
    --mdb-btn-focus-color: #fff;
    --mdb-btn-active-bg: #cd9118;
    --mdb-btn-active-color: #fff;
}

/* .btn--primary:hover {
    color: #fff;
    background-color: #FF6600;
    border-color: #FF6600;
} */

.btn--primary {
    color: #fff;
    background-color: #FF6600;
    border-color: #FF6600;
}

