html {
    font-family: 'Roboto', sans-serif;
}
body {
    margin-bottom: 40;
}

.btn--warning {
    --mdb-btn-bg: #FF6600;
    --mdb-btn-color: #fff;
    --mdb-btn-box-shadow: 0 4px 9px -4px #FF6600;
    --mdb-btn-hover-bg: #d9991a;
    --mdb-btn-hover-color: #fff;
    --mdb-btn-focus-bg: #d9991a;
    --mdb-btn-focus-color: #fff;
    --mdb-btn-active-bg: #cd9118;
    --mdb-btn-active-color: #fff;
}

.btn--primary {
    color: #fff;
    background-color: #FF6600;
    border-color: #FF6600;
}
  /**
  * error
  */
  .has-error .help-block,
  .has-error .control-label,
  .has-error .radio,
  .has-error .checkbox,
  .has-error .radio-inline,
  .has-error .checkbox-inline,
  .has-error.radio label,
  .has-error.checkbox label,
  .has-error.radio-inline label,
  .has-error.checkbox-inline label {
    color: #a94442;
  }

  .has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }

  .has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  }

  .has-error .input-group-addon {
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
  }

  .has-error .form-control-feedback {
    color: #a94442;
  }

  .has-feedback label ~ .form-control-feedback {
    top: 27px;
  }

  .has-feedback label.sr-only ~ .form-control-feedback {
    top: 0;
  }

  .help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #a4aaae;
    font-style: italic;
    font-weight: normal;
  }

  /**
  * Acordion
  */
  /*
   * Component: Box
   * --------------
   */
   .box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .box.box-primary {
    border-top-color: #3c8dbc;
  }
  .box.box-info {
    border-top-color: #00c0ef;
  }
  .box.box-danger {
    border-top-color: #dd4b39;
  }
  .box.box-warning {
    border-top-color: #f39c12;
  }
  .box.box-success {
    border-top-color: #00a65a;
  }
  .box.box-default {
    border-top-color: #d2d6de;
  }
  .box.collapsed-box .box-body,
  .box.collapsed-box .box-footer {
    display: none;
  }
  .box .nav-stacked > li {
    border-bottom: 1px solid #f4f4f4;
    margin: 0;
  }
  .box .nav-stacked > li:last-of-type {
    border-bottom: none;
  }
  .box.height-control .box-body {
    max-height: 300px;
    overflow: auto;
  }
  .box .border-right {
    border-right: 1px solid #f4f4f4;
  }
  .box .border-left {
    border-left: 1px solid #f4f4f4;
  }
  .box.box-solid {
    border-top: 0;
  }
  .box.box-solid > .box-header .btn.btn-default {
    background: transparent;
  }
  .box.box-solid > .box-header .btn:hover,
  .box.box-solid > .box-header a:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  .box.box-solid.box-default {
    border: 1px solid #d2d6de;
  }
  .box.box-solid.box-default > .box-header {
    color: #444444;
    background: #d2d6de;
    background-color: #d2d6de;
  }
  .box.box-solid.box-default > .box-header a,
  .box.box-solid.box-default > .box-header .btn {
    color: #444444;
  }
  .box.box-solid.box-primary {
    border: 1px solid #3c8dbc;
  }
  .box.box-solid.box-primary > .box-header {
    color: #ffffff;
    background: #3c8dbc;
    background-color: #3c8dbc;
  }
  .box.box-solid.box-primary > .box-header a,
  .box.box-solid.box-primary > .box-header .btn {
    color: #ffffff;
  }
  .box.box-solid.box-info {
    border: 1px solid #00c0ef;
  }
  .box.box-solid.box-info > .box-header {
    color: #ffffff;
    background: #00c0ef;
    background-color: #00c0ef;
  }
  .box.box-solid.box-info > .box-header a,
  .box.box-solid.box-info > .box-header .btn {
    color: #ffffff;
  }
  .box.box-solid.box-danger {
    border: 1px solid #dd4b39;
  }
  .box.box-solid.box-danger > .box-header {
    color: #ffffff;
    background: #dd4b39;
    background-color: #dd4b39;
  }
  .box.box-solid.box-danger > .box-header a,
  .box.box-solid.box-danger > .box-header .btn {
    color: #ffffff;
  }
  .box.box-solid.box-warning {
    border: 1px solid #f39c12;
  }
  .box.box-solid.box-warning > .box-header {
    color: #ffffff;
    background: #f39c12;
    background-color: #f39c12;
  }
  .box.box-solid.box-warning > .box-header a,
  .box.box-solid.box-warning > .box-header .btn {
    color: #ffffff;
  }
  .box.box-solid.box-success {
    border: 1px solid #00a65a;
  }
  .box.box-solid.box-success > .box-header {
    color: #ffffff;
    background: #00a65a;
    background-color: #00a65a;
  }
  .box.box-solid.box-success > .box-header a,
  .box.box-solid.box-success > .box-header .btn {
    color: #ffffff;
  }
  .box.box-solid > .box-header > .box-tools .btn {
    border: 0;
    box-shadow: none;
  }
  .box.box-solid[class*='bg'] > .box-header {
    color: #fff;
  }
  .box .box-group > .box {
    margin-bottom: 5px;
  }
  .box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
  }
  .box > .overlay,
  .overlay-wrapper > .overlay,
  .box > .loading-img,
  .overlay-wrapper > .loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .box .overlay,
  .overlay-wrapper .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
  }
  .box .overlay > .fa,
  .overlay-wrapper .overlay > .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15px;
    margin-top: -15px;
    color: #000;
    font-size: 30px;
  }
  .box .overlay.dark,
  .overlay-wrapper .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
  }
  .box-header:before,
  .box-body:before,
  .box-footer:before,
  .box-header:after,
  .box-body:after,
  .box-footer:after {
    content: " ";
    display: table;
  }
  .box-header:after,
  .box-body:after,
  .box-footer:after {
    clear: both;
  }
  .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
  }
  .box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
  }
  .collapsed-box .box-header.with-border {
    border-bottom: none;
  }
  .box-header > .fa,
  .box-header > .glyphicon,
  .box-header > .ion,
  .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
  }
  .box-header > .fa,
  .box-header > .glyphicon,
  .box-header > .ion {
    margin-right: 5px;
  }
  .box-header > .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .box-header > .box-tools [data-toggle="tooltip"] {
    position: relative;
  }
  .box-header > .box-tools.pull-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .box-header > .box-tools .dropdown-menu > li > a {
    color: #444!important;
  }
  .btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
  }
  .open .btn-box-tool,
  .btn-box-tool:hover {
    color: #606c84;
  }
  .btn-box-tool.btn:active {
    box-shadow: none;
  }
  .box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
  }
  .no-header .box-body {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  .box-body > .table {
    margin-bottom: 0;
  }
  .box-body .fc {
    margin-top: 5px;
  }
  .box-body .full-width-chart {
    margin: -19px;
  }
  .box-body.no-padding .full-width-chart {
    margin: -9px;
  }
  .box-body .box-pane {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
  }
  .box-body .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
  }
  .box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #ffffff;
  }
  .chart-legend {
    margin: 10px 0;
  }
  @media (max-width: 991px) {
    .chart-legend > li {
      float: left;
      margin-right: 10px;
    }
  }
  .box-comments {
    background: #f7f7f7;
  }
  .box-comments .box-comment {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
  }
  .box-comments .box-comment:before,
  .box-comments .box-comment:after {
    content: " ";
    display: table;
  }
  .box-comments .box-comment:after {
    clear: both;
  }
  .box-comments .box-comment:last-of-type {
    border-bottom: 0;
  }
  .box-comments .box-comment:first-of-type {
    padding-top: 0;
  }
  .box-comments .box-comment img {
    float: left;
  }
  .box-comments .comment-text {
    margin-left: 40px;
    color: #555;
  }
  .box-comments .username {
    color: #444;
    display: block;
    font-weight: 600;
  }
  .box-comments .text-muted {
    font-weight: 400;
    font-size: 12px;
  }

  /**
  * custom breadcrumb
  */
  .breadcrumb2 {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

  /*
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;*/
  }

  .breadcrumb2-item {
    display: flex;
  }

  .breadcrumb2-item + .breadcrumb2-item {
    padding-left: 0.5rem;
  }

  .breadcrumb2-item + .breadcrumb2-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: "/"
  }

  .breadcrumb2-item + .breadcrumb2-item:hover::before {
    text-decoration: underline;
  }

  .breadcrumb2-item + .breadcrumb2-item:hover::before {
    text-decoration: none;
  }

  .breadcrumb2-item.active {
    color: #6c757d;
  }

  /**
  * Subtitulo de encabezado
  */
  .xsb{
    font-size: 16px;
  }


  /**
   * Estilos login sweetalert2
  */
  .btn-login{
    width: 100%;
  }
  .pic-circle{
    border-radius: 50%;
  }
  .btn-closex{
    border-radius: 50% !important;
    background:#EEEEEE !important;
    margin: 4px;
  }

  /**
   * boton login
  */
  .btnlogin {
      background-color:#1876f2;
      border-radius:10px;
      border:1px solid #1876f2;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:18px;
      font-weight:bold;
    padding:8px 31px;
    width: 100%;
      text-decoration:none;
      text-shadow:0px 1px 0px #2f6627;
  }
  .btnlogin:hover {
      background-color:#1876f2;
  }
  .btnlogin:active {
      position:relative;
      top:1px;
  }


  /**
  * formularaio personajes
  */
  .input-hidden {
    position: absolute;
    left: -9999px;
  }

  input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #090;
  }

  input[type=radio] + label>img {
    border: 1px dashed #444;
    width: 110px;
    height: 110px;
    cursor: pointer;
    transition: 500ms all;
  }

  input[type=radio]:checked + label>img {
    transform:
      rotateZ(-10deg)
      rotateX(10deg);
  }

  .sel2w{
    width: 500px !important;
  }


  /**
  * Estilos CSS => adminlte.php
  * ---------------------------------------------------------------
  */
  .gadch-22{
    background: rgb(255,102,0);
    background: -moz-linear-gradient(0deg, rgba(255,102,0,1) 3%, rgba(255,165,0,1) 50%, rgba(255,102,0,1) 87%);
    background: -webkit-linear-gradient(0deg, rgba(255,102,0,1) 3%, rgba(255,165,0,1) 50%, rgba(255,102,0,1) 87%);
    background: linear-gradient(0deg, rgba(255,102,0,1) 3%, rgba(255,165,0,1) 50%, rgba(255,102,0,1) 87%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6600",endColorstr="#ff6600",GradientType=1);

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
  }

  .gadch-22 .nav-header{
    color: #fff;
  }

  .gadch-22 .nav-link p{
    color: #fff;
  }

  .gadch-22 .nav-treeview > .nav-item > .nav-link.active,
  .gadch-22 .nav-treeview > .nav-item > .nav-link.active:hover{
    background-color: rgba(255, 255, 255, 0.4);
  }

  .gadch-22  .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #ff6600;
  }

  .gadch-22 .nav-treeview > .nav-item > .nav-link.active i{
    color: #fff;
  }

  .navbar-gadch{
    background-color: #ff6600;
  }

  .bg-primary {
    background-color: #ff6600 !important;
  }


  .content-wrapper {

    font-weight: 200px;
  }

  .border-primary{
    border-color: #ff6600 !important;
  }

  /**
  *
  */
  a {
    color: #000;
    text-decoration: none;
  }

  a:hover{
    color: #000;
  }

  /**
  *
  */

  .login-page2 {
    margin: 0;
    padding: 0;
    align-items: center;
    background-color: #ff6600;
    height: 100vh;
  }

  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #FFA500;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
  }
  .content-header{
    background-color: #FFA500;
  }

  .btn-warning {
    color: #000;
    background-color: #FF6600;
    border-color: #FF6600;
  }

  .layout-footer-fixed .wrapper .content-wrapper {
     padding-bottom: 0;
  }
